* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 0 0 10px rgba(0,0,0,1);
}

#section1 {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 999;
    color: #fff;
    font-family: Lato, sans-serif;
}

.about {
    text-align: center;
    font-size: 18px;
    color: #fff;
    width: 60%;
    align-self: center;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 56px;
    position: fixed;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px 10px;
    width: 100%;
    border-radius: 30px;
}

.navbar>.nav-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(20px);
}

.navbar>.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    backdrop-filter: blur(20px);
    border-radius: 50px;
}

.navbar>.nav-links>.nav-btn {
    width: 115px;
    font-size: 15px;
    color: #fff;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 8px;
    transition: all .3s ease-in-out;
    margin: 5px;
}

.navbar>.nav-links>.nav-btn>a {
    color: #fff;
    text-decoration: none;
    font-family: Lato, sans-serif;
}

.navbar>.nav-logo>.nav-img {
    width: 40px;
    margin-left: 20px;
}

.nav-links {
    text-align: center;
}

.nav-btn {
    margin: 5px;
}

.community-btn {
    display: block;
}

/* Media query for screen width <= 411px */
@media (max-width: 350px) {
    .community-btn {
        display: none;
    }
}

@media (max-width: 633px) {
    .nav-text {
        display: none;
    }
}

.sec6-container {
    width: 100%;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.outer-container {
    height: 90vh;
    display: flex;
    margin: 50px 0px;
    
}

.speaker-card-container {
    font-family: Inter, sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: -1;
}

.speaker-card {
    backdrop-filter: blur(20px);
    margin: 50px 15px 15px;
    box-sizing: border-box;
    width: 250px;
    border-radius: 30px;
    transition: all .5s ease;
    border: 1px solid grey;
    padding: 30px 0px;
}

.speaker-image {
    width: 50%;
    border-radius: 50%;
    margin: 20px 0;
}

.social-icon {
    font-size: 35px;
    margin-right: 12px;
    margin-top: 20px;
    cursor: pointer;
    color: #fff;
    position: relative;
    text-decoration: none;
}

.skills {
    padding: 20px;
    font-weight: 400px;
    font-size: 20px;
}

.name {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 985px) {
    .speaker-card-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 900px) {
    .sec6-container {
        flex-direction: column;
        margin: 0;
        text-align: center;
    }

    .outer-container {
        flex-direction: column;
    }
}

@media (max-width: 985px) {
    .speaker-card {
        align-self: center;
    }
}

@font-face {
    font-family: myfont;
    src: url(./ailerons/Ailerons-Typeface.otf);
}

.aa {
    color: #0077b5;
}

@media (max-width: 985px) {
    .navbar {
        justify-content: space-evenly;
        backdrop-filter: blur(20px);
        margin-top: 10px;
    }
}

.social-ico-href {
    color: #7444ff;
    text-decoration: none;
    font-size: 25px;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
    position: relative;

}
.social-ico {
    margin-top: 20px;
}


.fa-brands, .fab {
    font-weight: 400;
}
.fa-brands, .fab {
    font-family: "Font Awesome 6 Brands";
}
.fa-github:before {
    content: "\f09b";
}
.fa-linkedin:before {
    content: "\f08c";
}
.fa-twitter:before {
    content: "\f099";
}
